
footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}
footer > div > p{
  border-bottom: 1px solid rgba(193,186,204, 0.1);
  padding-bottom: 30px ;
  color: #ccc;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
footer aside{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center ;
  color: #ccc;  
  font-weight: 300;

  margin-top: 30px;
}
footer aside a{
  color: rgb(238, 50, 13);
  font-weight: 400;
}
footer aside p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer aside p:nth-child(2) span{
  font-weight: bold;
}
footer aside p:nth-child(4){
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
}
footer aside p:nth-child(5)> a{
  margin-right: 15px;
}
.containerr{
    max-width: 1000px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .termos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .containerr  aside ul{
    display: flex;
    flex-direction: column;
  }
  footer li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    text-align: center;

  }
  @media (max-width: 500px){
    footer{
      padding: 10px;
    }
  }